.title {
    font-family: 'Charm', cursive;
    font-size: 100px;
    text-align: center;
    margin: auto;
    position: relative;
    bottom: 120px;
    display:inline;
    padding: 20px 50px;
}
.back {
    height: 1000px;
    background-image: url("backdrop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

input {
    font-family: 'Fjalla One', sans-serif;
    width: 200px;
    height: 30px;
    font-size: 13px;
    text-align: center;
    position: relative;
    top: 50px;
}
.content {
    background-color: rgba(200,200,255,0.7);
    height: 100%;
    margin: auto 20em ;
    border: solid blue 1px;
}
#deadpool {
    float: left;
}
p {
    font-size: 20px;
    font-family: "Fjalla One" , sans-serif;
    text-align: center;
}
