.movie-name {
    text-align: center;
    margin: auto;
    background-color: lightgray;
    width: 500px;
    
}
.back {
    background-color: gray;
    height: 700px;
    max-height: 700px;
}












input {
    margin-bottom: auto;
    width:200px;
    height: 30px;
    font-size: 13px;
}